body {
    /* background-image: url("/assets/market-2669499_1920.jpg"); */
    background-color: #2b580c;
}

.nav-wrapper {
    background-color: #2b580c;
}

.page-footer {
    background-color: #2b580c;
}

.btn {
    background-color: #639a67;
}

.parallax-container-1 {
    height: 500px;
}

.parallax-container-2 {
    height: 400px;
}

/* .parallax-container-3 {
    height: 500px;
} */

.footer-sponsors {
    width: 10%;
    height: auto;

}