body {
    /* background-image: url("/assets/market-2669499_1920.jpg"); */
    background-color: #2b580c;
    background-color: #d8ebb5;
    font-family: 'Quicksand';
    font-size: 15px;
}

.nav-wrapper {
    background-color: #2b580c;
}

.navbar {
    margin: 20px;
}

.cherry-bowl {
    height: 175px;
    width: 225px;
    float: left;
    margin: 20px;
}

.card1 {
    padding: 20px;
    width: 100%;
}

.cards-image {
float: "left";
}

.brand-logo {
    margin-left: 10px;
}

.page-footer1 {
    margin: 20px;
    background-color: #2b580c;

}

.footer-container {
    background-color: #2b580c
}

.container {
    background-color: #2b580c;
}

#copyright {
    color: white;
}

.wrapper {
    margin: 20px;
}

.contactcontainer {
    border: 20px;
    border-color: #d9bf77;
}

.vendor-list {
    margin: 20px;
}

.card-image {
    width: 100px;
    height: 150px;
}

.card2 {
    background-color: #d9bf77;
}

#opener {
    margin-left: 10px;
    color: white;
}

.blue-box {
    background-color: #2b580c;
    color: white;
}

#card-title {
    color: white;
}


.market-list {
    margin: 20px;
}

#market-image {
    height: 140px;
    width: 741px;
}

p {
    font-size: larger;
}

.brand-logo {
    margin-left: 0.8rem;
}

#logo-img {

    margin-top: 0.3rem;
    max-height: 3.5rem;
    max-width: auto;
}

#nav-mobile-items {

    font-size: large;
}

.nav-wrapper {
    background-color: #2b580c;
}

#home-map {
    margin-top: 2rem;
    float: right;
    max-width: 500px;
    max-height: auto;

    margin-right: 3rem;
}

#home-weather {
    margin-top: 2rem;
    float: left;
    max-width: 500px;
    max-height: auto;
}

.coming-weather-txt {
    float: right;
}

.text-on-left {
    text-align: left;
}

.page-footer {
    background-color: #2b580c;
}

.btn {
    background-color: #639a67;
}

.parallax-container-1 {
    height: 500px;
}

.parallax-container-2 {
    height: 400px;
}

.footer-sponsors {
    width: 100px;
    height: 100px;
}

.footer-sponsors {
    width: 10%;
    height: auto;

    max-width: 150px;
    max-height: auto;

}

.container2 {
    background-color: #2b580c;
}

#home-map {
    padding-bottom: 20px;
}

.sponsors2 {
    width: 100px;
    height: 100px;
}

.container3 {
    width: 800px;
}

.footer-sponsors {
    height: 100px;
    width: 100px;
}